<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Stock Details</title>
</head>
<body>
	<div id="stock">
		<h4> <%= StockName %> </h4>
		<h5> <%= sector %> </h5>
		<ul id="stats">
			<li>  PE Ratio:  <%= PE %> </li>
			<li>  PEG Ratio:  <%= PEG %> </li>
			<li>  Price To Book Ratio:  <%= PriceToBook %> </li>
			<li>  Profit Margin:  <%= ProfitMargin %> </li>
			<li> Return on Assets:  <%= ROA %> </li>
			<li> Return on Equity:  <%= ROE %> </li>
			<li> Price To Sales Ratio:  <%= PriceToSales %> </li>
			<li> EV To EBITDA Ratio:  <%= EVToEBITDA %> </li>
			<li> Operating Profit Margin:  <%= OPM %> </li>
		</ul>	
	</div>
	

</body>
</html>